RewriteEngine On
RewriteBase /

# Exclude static project folders from React routing

RewriteCond %{REQUEST_URI} !^/gum/
RewriteCond %{REQUEST_URI} !^/tilt3d/
RewriteCond %{REQUEST_URI} !^/clock/
RewriteCond %{REQUEST_URI} !^/snake/
RewriteCond %{REQUEST_URI} !^/guessle/

# Allow existing files and directories

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to React

RewriteRule . /index.html [L]
